@import "config"

main
  background-color: $background-color

#books
  min-height: calc(100vh - 96px)
  box-sizing: border-box
  padding-top: 80px 
  .inner
    width: 1024px
    margin: auto
  .books__li
    background-color: white
    display: inline-block
    text-align: center
    padding: 20px 40px
    width: 240px
    @include border;
    img
      object-fit: contain
      width: 100%
    dl
      margin-top: 8px 
      text-align: left
      dt
        font-weight: bold
        color: gray
        display: inline-block
      dd
        text-align: right
        font-weight: bold
        font-size: 24px
        margin-bottom: 16px

        span[style]
          margin-left: calc(var(--ml) * 10px)
#book
  .inner
    overflow: hidden
    height: 100vh
    .wrapper
      white-space: nowrap
      width: 100%
      overflow-x: scroll
      overflow-y: hidden
  #cover
    figure
      height: 100%
      img
        height: 100%
  .page
    background-color: white
    height: 100vh
    display: inline-block
    position: relative
    box-sizing: border-box
    vertical-align: top
    .content
      position: absolute
      top: calc(var(--pos-t) * 50px)
      left: calc(var(--pos-l) * 50px)
      &.page__item
        &--h
          font-weight: bold
          h1
            font-size: 40px
          height: 2px
            font-size: 32px
          h3
            font-size: 28px
      &--p
        p
          font-size: 18px
      &--ph
        input
          font-size: 18px 
          border: 0
          font-weight: bold

#publish
  height: 100vh
  .center
    position: absolute
    margin: auto
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 500px
    height: 120px
  .cover-form
    padding: 30px
    background-color: white
    fieldset
      background-color: white
      legend
        font-size: 24px
        font-weight: bold
        background-color: white
        border: 1px solid black
        padding: 10px
      input
        font-size: 24px
        width: 100%
        box-sizing: border-box
    button
      display: block
      width: 100%
      font-size: 24px
      padding: 15px
      width: 100%
  .inner
    margin: auto
    white-space: nowrap
    font-size: 0
    width: calc(var(--cover-width) * 2)
    height: 100vh
    overflow-x: scroll
    min-width: 400px
    position: relative
    overflow: hidden
    .save-btn
      position: absolute
      left: 10px
      top: 10px
      padding: 10px
      background-color: green
      font-size: 18px
      font-weight: bold
      color: white
      z-index: 1
    .wrapper
      width: 100%
      overflow-x: scroll
    #cover
      display: inline-block
      vertical-align: top
      figure
        img
          object-fit: contain
          height: 100vh

    .page
      vertical-align: top
      display: inline-block
      width: var(--cover-width)
      background-color: white
      height: 100vh
      border: 1px solid lightgray
      box-sizing: border-box
      .grid
        white-space: normal
        height: 100%
        font-size: 0
        line-height: 0
        position: relative
        &__btn
          border: 1px dotted lightgray
          width: 10px
          height: 10px
          padding: 0
          box-sizing: border-box
          font-size: 0
        .content
          box-sizing: border-box
          position: absolute
          max-width: 100%
          border: 1px dotted red
          input
            background-color: transparent
            font-family: monospace;
          .control
            position: absolute
            top: -20px
            opacity: 0.1
            white-space: nowrap
            &:hover
              opacity: 1
            button
              font-weight: bold
            .type
              width: 30px
            .del
              background-color: red
              color: white

        .grid__content
          &--h1
            input
              border: 0
              font-weight: bold
              font-size: 40px;
              color: black
          &--h2
            input
              border: 0
              font-weight: bold
              font-size: 32px;
              color: black
          &--h3
            input
              border: 0
              font-weight: bold
              font-size: 28px;
              color: black
          &--p
            input
              border: 0
              font-weight: bold
              font-size: 18px;
              color: black
          &--ph
            input
              border: 0
              font-weight: bold
              font-size: 18px;
              color: black

    .page-add-btn
      width: var(--cover-width)
      height: 100vh
      border: 0
      font-size: 80px
      &:hover
        background-color: lightgray

    
